.App {
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #f9f9f9;
  padding: 20px;
}




.container{
  padding-top: 1rem;
   display: flex;
   justify-content: center;
}

.searchBox{
  border-radius: 20px 20px 20px 20px;
  height: 2.2rem;
  width: 25%;
  position: relative;
  font-size: 1.2rem;
}

.content {

  position: relative;
}
.tempStat{
  background: rgba(30, 100, 165, 0.166) ;
  border-radius: 10px;
  margin: 30px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 

}
.title{
  margin: 30px;
  font-size: 2rem;
  text-transform: capitalize;

}
.bgCold{
  background-image: url("clouds.avif");
}
.bgWarm{
  background-image: url(sun.jpeg);
}
.cold{

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cold::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(84, 83, 83, 0.4); /* Adjust the last value (0.5) for the level of transparency */
  pointer-events: none;
}
.temp{
  font-size: 6rem;
}
.status{
  font-size: 2rem;
  margin: auto 0;
}